/dist
.env
.DS_Store
/uploads
/node_modules
yarn-error.log

.idea

coverage

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/plugins/medusa-test-plugin/node_modules
/plugins/medusa-test-plugin/dist
/plugins/medusa-test-plugin/.yarn/*
/medusa-test-plugin-packed/node_modules
/medusa-test-plugin-packed/dist
/medusa-test-plugin-packed/.yarn/*

.medusa